.Toolbar {
    height: 40px;
    line-height: 10pt;
    width: 100%;
    position: fixed;
    color: #000;
    top: 0;
    background-color: #ff6600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 90;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.Toolbar nav{
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1023px) {
    .Toolbar {
        width: 85%;
        margin: 0 auto;
    }
}
